.outer{
    background-color: yellow;
    padding: 3rem;
    margin-top: 10%;
}

.inner{
    text-align: center;
    background-color: white;
    padding: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
    object-fit: cover;
}
input[type="text"]
{
    font-size: 25px;
    vertical-align: bottom;
}
input[type="password"]
{
    font-size: 25px;
    vertical-align: bottom;
}




